{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="login-main-page full-screen">
    <br>
    <div class="container login-page">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="POST" class="shadow p-5 py-5vh">
                    <h2 class="text-center">Deposite To Bank</h2>
                    <p>
                        *Please make sure the amount you are adding has reflected to your Bank Account in real life. 
                        To ensure good and accrucy between the Actual Bank and You Balance here. Thank you.
                    </p>
                    <br>
                    {% csrf_token %}
                    {{ form | crispy }}

                    <p>
                        <input type="submit" class="btn btn-lg btn-block btn-dark" value="Add Amount">
                    </p>

                </form>
            </div>
            <!-- <div class="col-md-4 logo">
            </div> -->
        </div>
    </div>

</div>
{% endblock %}