{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="container footer">
        <h2 class="text-center bg-white text-dark text-bold">
            Approvals
        </h2>
    </div>
    
    <div class="row">
        <div class="col-12">
            <table class="table align-middle">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Acction</th>
                  </tr>
                </thead>
                <tbody>
                  {% for approval in approvals %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ approval.date }}</td>
                    <td>{{ approval.amount }}</td>
                    <td>
                        <a href="{% url 'finance:approve_deposite' approval.pk %}" class="btn btn-md btn-success">
                            Approve
                        </a>
                    </td>
                  </tr>
                  {% endfor %}
            
            
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}