<footer class="page-footer text-center font-small mt-4 wow fadeIn bg-dark">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="tel:0243186008" class="pl-2 pr-2">
        <i class="fas fa-phone-square-alt fa-lg "></i> Prince
      </a>
      
      |

      <a href="tell:0591542466" class="  pl-2 pr-2">
        <i class="fas fa-lg fa-phone-square-alt"></i> Monica
      </a> 
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2021
      <a href="#"> Monica & Prince </a>
    </div>
    <!--/.Copyright-->

  </footer>